<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <include file="Public:commit" />
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="/index.php/Home/Bill/queryBill" method="get">
    项目编号：
    <input type="text" name="xm_id" class="abc input-default" value="{$xm_id}">&nbsp;&nbsp;<br/>

    姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
    <input type="text" name="xm_userid" class="abc input-default" value="{$xm_userid}">&nbsp;&nbsp;

    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>导入日期</th>
        <th>项目编号</th>
        <th>译员</th>
        <th>稿件类型</th>
        <th>接稿日期</th>
        <th>交稿日期</th>
        <th>字数</th>
        <th>单价</th>
        <th>金额</th>
        <th>文件名</th>
        <th>承接范围</th>
        <th>确定状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <if condition="count($list) eq 0">
        <tr>
            <td colspan="12">无相关数据</td>
        </tr>
        <else/>
        <volist name="list" id="vo">
            <tr>
                <td>{$vo['xm_yuefen']}</td>

                <td style="max-width: 70px;">{$vo['xm_id']}</td>
                <td>{$vo['xm_userid']}</td>
                <td>{$vo['xm_fyfx']|msubstr=0,10}</td>
                <td>{$vo['xm_cjsj']|msubstr=0,10}</td>
                <td>{$vo['xm_tjsj']|msubstr=0,10}</td>
                <td>{$vo['xm_zs']}</td>
                <td>{$vo['xm_dj']}</td>
                <td>{$vo['xm_je']}</td>
                <td style="max-width: 100px;">{$vo['xm_myd']|msubstr=0,14}</td>
                <td style="max-width: 100px;" >{$vo['xm_cjfw']|msubstr_san=0,6}</td>
                <td>
                    <if condition="$vo['xm_fkzt'] eq 3">
                        <span style="color: green">已付款</span>

                        <elseif  condition="$vo['xm_fkzt'] eq 2"/>
                        <span style="color: red">已反馈</span>
                        <else/>
                        <span style="color: red">未处理</span>
                    </if>
                </td>
                <td>
                    <a href="http://localhost/index.php/home/Bill/Bill_toupdate/id/{$vo['id']}">修改</a>
                    <a class="del" id="{$vo['id']}">删除</a>
                </td>
            </tr>
        </volist>
    </if>
</table>
<div class="page">{$page}</div>
</body>
</html>
<script>
    $(function () {
        $(".del").click(function(){
            if(confirm("确定要删除吗？")){
                var id= $(this).attr("id");
                $.post("http://localhost/index.php/home/Bill/Bill_del",{id:id},function(data){
                    if(data == 0){
                        alert("删除成功");
                        window.location.reload();

                    }else if(data == 1){
                        alert("删除失败");
                    }
                });
                return false;
            }else{
                return false;
            }

        });

        $('#addnew').click(function(){

            window.location.href="add.html";
        });


    });
</script>