<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <include file="Public:commit" />
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="/index.php/Home/Bill/queryBill" method="get">
    导入日期：
    <input type="text" name="xm_yuefen" class="abc input-default" value="{$xm_yuefen}">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
</form>
<form action="/index.php/Home/Bill/import_submit" method="POST">
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th style="max-width: 40px;">译员</th>
        <th>项目编号</th>
        <th>稿件类型</th>
        <th>接稿日期</th>
        <th>交稿日期</th>
        <th style="max-width: 40px;">字数</th>
        <th style="max-width: 40px;">单价</th>
        <th style="max-width: 40px;">金额</th>
        <th colspan="2">文件名</th>
        <th>承接范围</th>
    </tr>
    </thead>
    
    <volist name="list" id="vo">
        <tr>
            <td style="max-width: 35px;"><input  style="max-width: 30px;" type="text" name="xm_userid" value="{$vo['xm_userid']}"/></td>
            <td style="max-width: 35px;"><input  style="max-width: 80px;" type="text" name="xm_id" value="{$vo['xm_id']}"/></td>
            <td style="max-width: 35px;"><input  style="max-width: 75px;" type="text" name="xm_fyfx" value="{$vo['xm_fyfx']}"/></td>
            <td style="max-width: 35px;"><input  style="max-width: 75px;" type="text" name="xm_cjsj" value="{$vo['xm_cjsj']}"/></td>
            <td>{$vo['xm_tjsj']|msubstr=0,10}</td>
            <td style="max-width: 35px;"><input  style="max-width: 40px;" type="text" name="xm_zs" value="{$vo['xm_zs']}"/></td>
            <td style="max-width: 35px;"><input  style="max-width: 40px;" type="text" name="xm_dj" value="{$vo['xm_dj']}"/></td>
            <td style="max-width: 35px;"><input  style="max-width: 60px;" type="text" name="xm_je" value="{$vo['xm_je']}"/></td>
            <td colspan="2" ><input  style="max-width: 100px;" type="text" name="xm_myd" value="{$vo['xm_myd']}"/></td>
            <td><input  style="max-width: 90px;" type="text" name="xm_cjfw" value="{$vo['xm_cjfw']}"/></td>

        </tr>
    </volist>
    <tr><td style="max-width:100%;"><input type="submit" value="提交" name="submit"></td></tr>
</table>
</form>
<div class="page">{$page}</div>
</body>
</html>
<script>
    $(function () {
        $(".del").click(function(){
            if(confirm("确定要删除吗？")){
                var id= $(this).attr("id");
                $.post("http://localhost/index.php/home/Bill/Bill_del",{id:id},function(data){
                    if(data == 0){
                        alert("删除成功");
                        window.location.reload();

                    }else if(data == 1){
                        alert("删除失败");
                    }
                });
                return false;
            }else{
                return false;
            }

        });

        $('#addnew').click(function(){

            window.location.href="add.html";
        });


    });

    function del(id)
    {



        {

            var url = "index.html";

            window.location.href=url;

        }




    }
</script>