
<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>议员对账系统 HP TRS1.0</title>
<style type="text/css">
body{margin:0; padding:0}
ul,li{ list-style:none}
.warp{background:url(/src/bg.jpg) center center no-repeat; width:845px; height:490px; text-align:center; margin:80px auto 0 auto;}
.input{border:0; width:210px; height:25px; line-height:25px; font-size:12px; padding-left:5px}
</style>
</head>
<body>
	<div class="warp">
		<form action="/index.php/Home/Index/index" method="post" name="adminlogin" id="adminlogin">
			<!-- <input type="hidden" name="do_submit" value="1" />
			<input type="hidden" name="action" value="dl" /> -->
		
		<ul>
			<li style="padding-left:475px; text-align:left; padding-top:155px"><input name="u_name" type="text" class="input" id="username" ></li>
			<li style="padding-left:475px; text-align:left; padding-top:45px"><input name="u_pass" type="password" class="input" id="password" ></li>
			<!-- <li style="padding-left:475px; text-align:left; padding-top:45px"></li> -->
			<li style="padding-left:610px; text-align:left; padding-top:132px"><input  type="submit" value="" title="登录" style="border:0; background:none; width:105px; height:43px; cursor:pointer" ></li>
		</ul>
		</form>
	</div>
</body>
</html>