<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/src/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/src/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/src/assets/css/main-min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/src/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/src/assets/js/bui-min.js"></script>
    <script type="text/javascript" src="/src/assets/js/common/main-min.js"></script>
    <script type="text/javascript" src="/src/assets/js/config-min.js"></script>


    <link rel="stylesheet" type="text/css" href="/src/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/src/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/src/Css/style.css" />
    <script type="text/javascript" src="/src/Js/jquery.js"></script>
    <script type="text/javascript" src="/src/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/src/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/src/Js/ckform.js"></script>
    <script type="text/javascript" src="/src/Js/common.js"></script>
</head>
<body>

</body>
</html>