
<!DOCTYPE HTML>
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <include file="Public:commit" />
</head>
<body>
<style type="text/css">
    .dl-log a:hover{
        color: yellow;
    }
</style>
<div class="header">

    <div class="dl-title">
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{$name}</span><a href="/index.php/Home/Login/logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script>
    BUI.use('common/main',function(){
        var config = [{id:'1',
            homePage:'2',
            menu:[
            {text:'账单管理',items:[
                {id:'',text:'本期账单',href:'/index.php/home/Bill/Bill_benqi_list'},
                {id:'',text:'所有账单',href:'/index.php/home/Bill/Bill_all_list'},
                {id:'',text:'确认账单',href:'/index.php/home/Bill/Bill_confirm_list'},
                {id:'',text:'反馈账单',href:'/index.php/home/Bill/Bill_fk_list'},
                {id:'',text:'已结账单',href:'/index.php/home/Bill/Bill_yijie_pt'}
            ]},
            {text:'信息修改',items:[
                {id:'',text:'个人信息',href:'/index.php/home/Member/personal'}
            ]},
            {text:'系统通知',items:[
                {id:'2',text:'系统通知',href:'/index.php/Home/News/news'}


            ]},


        ]}];
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>

</body>
</html>