
<!DOCTYPE HTML>
<html>
 <head>
  <title>后台管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <include file="Public:commit" />
 </head>
 <body>

  <div class="header">
    
      <div class="dl-title">
       <!--<img src="/chinapost/Public/assets/img/top.png">-->
      </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">root</span><a href="/chinapost/index.php?m=Public&a=logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
  </div>
   <div class="content">
    <div class="dl-main-nav">
      <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
      <ul id="J_Nav"  class="nav-list ks-clear">
        		<li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>       

      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
   </div>
  <script>
    BUI.use('common/main',function(){
      var config = [{id:'1',menu:[
          {text:'系统管理',items:[
              {id:'1',text:'译员管理',href:'/index.php/Home/Member/yiyuan_list'},
              {id:'2',text:'管理员列表',href:'/index.php/Home/Admin/admin_list'},
              {id:'3',text:'账单列表',href:'/index.php/home/Bill/Bill_list'},
              {id:'4',text:'译员反馈',href:''},
              {id:'5',text:'财务管理',href:''},
              {id:'6',text:'历史账单删除',href:''},
              {id:'7',text:'数据库备份',href:'/index.php/Home/Backup/backup'},
              {id:'8',text:'系统通知',href:''},
              {id:'9',text:'代译员确认',href:''},
          ]
          },
          {text:'译员中心',items:[
              {id:'10',text:'资料维护',href:'/index.php/Home/News/news'},
              {id:'11',text:'本期账单',href:'Role/index.html'},
             
          ]
          }
          ,]},
          {id:'7',homePage : '9',menu:[{text:'业务管理',items:[{id:'9',text:'查询业务',href:'Node/index.html'}]}]}];
      new PageUtil.MainPage({
        modulesConfig : config
      });
    });
  </script>

 </body>
</html>